html,body{
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  background-color: var(--black);
}

:root{
   
    /* Colors */
    
    --background: #3f006a0f;
    --blue: #0d6efd;
    --black: #000;
    --off-white: #f6f6f6;
    --white: #fff;
    --orange: #ffbf50;
    
    
    /* Utils */
    
    --smal-box-shadow: 1px -1px 7px 0 #00000061;
    --border: #00000030 1px solid ;
    }
  
    /* Navabr */
  
  .logo-icon{
    
      width: 18.75rem;
      height: 5rem;
  }
  
  
/* Home Page */

.title{
  color: var(--off-white);
}

.active{
  border-bottom: 2px solid var(--blue);
}

/* Footer */

footer{
    /* flex-shrink: 0; */
    background-color: var(--off-white);
    /* display: flex;
    flex-direction: row; */
    /* justify-content: center; */
    align-items: center;
    border-top: var(--border);
}

.social-icon {
  height: 2rem;
  margin: 1rem; 
  margin-bottom: 10px;
}

/* Add a film Page */

.textcolor{
  color: var(--white);
}

/* Film Color */

.film-page{
  text-align: center;
}

/* Text styling */

.underline{
  text-decoration: underline;
}

.nounderline{
  text-decoration:none;
}

/* Background color */

.bg-color{
  background-color: var(--background);
}

/* Hover */

.films:hover {
  text-decoration: underline; 
  color: var(--blue);
}