{% extends 'base.html' %}

{% block title %}Films{% endblock %}

{% block content %}


<h1 class="text-center p-2">New Releases</h1>
<div class="container d-flex flex-row flex-wrap justify-content-center">


    {% for film in films %}

    <a href="{% url 'film_detail' film.id %}" class="films" aria-label="Click to view {{film.title}}">
        <div class="card m-3" style="width: 18rem;">
            <img class="" src="{{films.image.url}}" alt="{{film.image_alt}}">
            <div class="card-body">
                <h2 class="card-title">{{film.title}}</h2>
                <p class="card-text">{{film.description|truncatechars:100}}</p>
            </div>
        </div>
    </a>

    {% endfor %}

</div>





{% endblock %}